.containerm {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    column-gap: 25px;
    row-gap: 25px;
    align-items: center;
    margin-left: 1em;
    margin-top: 2em;
}

.containerm img {
    // position: relative;
    width: 25em;
    height: 25em;
}

.imagep {
    position: relative;
    background-color: black;
    text-align: center;
    opacity: 60%;
    line-height: 2em;
    top: -51px;
    color: ghostwhite;
    width: 25em;
    font-style: oblique;
}

.brm {
    display: inline-block;
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}