nav {
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px grey;
    border-top: solid 1px black;
    font: 0.7rem sans-serif;
}

.aboutnav {
    font-size: 3em;
    background-color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // color: crimson;
    // text-decoration: none;
    justify-content: space-around;
    padding-left: 5em;
}

.aboutnav .aboutlink {
    text-decoration: none;
    color: rgb(5, 58, 88);
    font-size: 20px;
    font-style: normal;
}

.navitems {
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


}